In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Linear Regression using Library function

In [2]:
boston = pd.read_csv('Boston.csv').drop(['Unnamed: 0'], axis = 1)
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
boston.isna().any()

crim       False
zn         False
indus      False
chas       False
nox        False
rm         False
age        False
dis        False
rad        False
tax        False
ptratio    False
black      False
lstat      False
medv       False
dtype: bool

### Extract Best 3 features

In [4]:
boston_copy = boston.drop(['medv'], axis = 1)

In [5]:
cols = boston_copy.columns
for col in cols:
    print(col, ':', boston['medv'].corr(boston[col]))

crim : -0.3883046085868113
zn : 0.3604453424505433
indus : -0.48372516002837285
chas : 0.17526017719029818
nox : -0.4273207723732824
rm : 0.695359947071539
age : -0.376954565004596
dis : 0.24992873408590388
rad : -0.38162623063977746
tax : -0.4685359335677669
ptratio : -0.5077866855375615
black : 0.33346081965706637
lstat : -0.7376627261740147

The three most correlated features are 'rm', 'ptratio', 'lstat'

In [6]:
X = boston[['rm', 'ptratio', 'lstat']]
X.head()

      rm  ptratio  lstat
0  6.575     15.3   4.98
1  6.421     17.8   9.14
2  7.185     17.8   4.03
3  6.998     18.7   2.94
4  7.147     18.7   5.33

In [7]:
Y = boston['medv']
Y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: medv, dtype: float64

### Linear Regression

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.8, random_state = 85)
linModel = LinearRegression()
linModel.fit(X_train, Y_train)

LinearRegression()

In [9]:
linModel.score(X_test, Y_test) * 100

80.6429399576135

The model is 80.64% accurate